{% extends 'home.html' %}
{% block content %}

    
<div class="row my-4 text-center">     
  <h3>Ведущие вендоры </h3>
  
  <h5 class=" m-0 text-start"><br>Мы работаем напрямую с производителями. Продукты сомнительного качества — это не только риск потерять репутацию, 
      но и финансовые накладки, связанные с заменой брака. Поэтому поставка качественного оборудования — наша принципиальная позиция.   </h5>   
      <br>
<h5 class=" m-0 text-start"> <br>Кроме того мы оказываем помощь в покупке техники через аукцион. Наш отдел продаж поможет составить коммерческое пре дложение,<br>
     отдел закупок — подготовит техническое задание, а специалисты юридического отдела проследят, чтобы все было по-честному и проконсультируют в сомнительных вопросах. </h5>  
 
    {% for vendor in vendors %}
    <div class="col-md-2 p-4 col-sm-4 col-6 ">
     <br><br>  
      
     <div class=" card-project  " > 
      <a class='fl' target="_blank" href={{vendor.url}}> <img    src="{{vendor.image.url }}" class="card-img-top" style ='max-height:90px;'/></a >
  
   </div>
    
 </div>
 
 {% endfor %}
</div>
     
 

 





 
<style>
    .fl{
        filter: brightness(0%);
      }
 </style>
 
 {% endblock %}