{% extends 'home.html' %} {% block content %}


<div class="row my-4 text-center  ">

    <h3>Контакты</h3>
</div>


<div class='map'>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa83668b6077e62b6dfe7e774bc015f87c55ff4ea3ffa1985ae0a9ca504e5a180&amp;source=constructor" width="100%" height="470" frameborder="0"></iframe>
</div>
<div class="row   text-center  ">

    <h3>Оставьте свою заявку</h3>
</div>
<div class="  contact-form  my-1  container-fluid justify-content-center align-items-center  ">
    <form method="post">
        {% csrf_token %}


        <div class="row ">
            <div class="col-6 justify-content-center ">
                <div class="form-group ">
                    <input type="text" name="name" class="form-control" placeholder="Ваше имя *" value="" required/>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Почта *" value="" required/>
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" class="form-control" placeholder="Номер телефона *" value="" required />
                </div>
                <div class="form-group my-3">
                    <input type="submit" name="btnSubmit" class="btnContact btn btn-primary" value="Отправить" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="subject" class="form-control" required placeholder="Опишите примерно какая у вас задача *" style="width: 100%; height: 150px;"></textarea>
                </div>

            </div>
        </div>
    </form>
</div>


</div>

<style>
    .map {
        margin-top: 100px;
    }
</style>

{% endblock %}